# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 05ffc9a639a9b981f15f7191859fdc36970edec134eb87cae8c6f9b171e4b3952e4913bcf1c880587b00dfc8da1afda9c226b76d3631f8ce18011a902152ffe9

test:
  secret_key_base: 2da95f1f01e533061e9eaac8cbde0a9ef6158612181cb706c693f761090d2539739c302c441718cbdcf869ef31b36a6c1a51bfce848a2f3f9799a110e2ff2500

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
